<div class="container flex-wrap items-center my-10 text-center">
  {% render 'theme/simple/ui/icon', icon: 'warningCloud', class: 'w-32 mx-auto' %}

  <h3 class="mt-5 title">{{ 'app.items.item_unpublished' | t }}</h3>
  {{ 'app.search.no_items_found.browse' | t }}
</div>
