<div class="mt-3">
  <fieldset>
    <div class="row custom_width">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="drag-drop-area"></div> <!-- This is where Uppy will inject itself -->
          </div>
        </div>
      </div>
    
      <div class="col-7">
        <div class="card">
          <div class="card-body">
            <p>URLs to image returned by AWS (input):</p>
            <small>
              <ol data-s3-uppy="log" class="log"></ol>
            </small>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
