<div class="container flex-wrap items-center my-10 text-center">
  <img alt="" src="{{ 'images/404.svg' | asset_url }}" width="1074" height="584" class="w-1/2 mx-auto">

  <h3 class="mt-5 title">{{ 'app.page_not_found' | t }}</h3>
</div>
