<div class="container flex-wrap items-center my-10 text-center">
  <img alt="Server error" src="{{ 'images/500.svg' | asset_url }}" width="1023" height="786" class="w-1/2 mx-auto" />

  <h3 class="mt-5 title">{{ 'app.page_server_error' | t }}</h3>
</div>
