<h1 class="pagetitle">{{ 'static-pages.terms.terms-of-service' | t }}</h1>

<div class="container text-center">
  <p class="mb-8 text-sm">{{ 'static-pages.terms.last-updated' | t }}</p>

  <div class="prose mx-auto text-left">
    {{ 'static-pages.terms.content' | t | markdown }}
  </div>
</div>
