{% liquid
  if cta
    assign cta = cta | t
  else
    assign cta = 'admin.view_report' | t
  endif
%}

<footer class="mt-4 -mx-4 p-4 pb-0 flex justify-end border-t">
  {% function report_path = 'theme/simple/admin/widgets/report_path', path: path, filters: filters %}
  <a href="{% print report_path %}" class="button button-secondary button-small">{{ cta }}</a>
</footer>
