<div class="mt-2">
  <h2 class="mt subtitle">{{ 'app.emails.orders.delivered.buyer.voucher.title' | t }}</h2>
  <div class="subtitle p-4 border-full font-bold text-interaction">{{ order.order_delivery.delivery_information }}</div>
  <span class="sidenote">{{ 'app.orders.show.digital_code_tip' | t }}</span>
</div>
