<section>

  <header class="mb-4 flex justify-between items-center">
    <h2 class="title">{{ 'app.profiles.nav.followers' | t }}</h2>
  </header>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-4">
    {% for record in list.results %}
      {% render 'theme/simple/profile/user_card', user: record.l, current_profile: current_profile %}
    {% else %}
      {{ 'app.no_followers_found' | t }}
    {% endfor %}
  </div>

</section>
