<div class="container">
  <section>
    {% render 'theme/simple/groups/content/form', current_profile: current_profile, group: group, object: object, context: context, presigned_url: presigned_url %}
  </section>
</div>
