<section class="md:h-64 card flex flex-col md:flex-row justify-center items-center text-center md:text-start">
  <div class="order-2 md:order-1">
    <p class="subtitle">{{ 'app.items.none' | t }}</p>
    <p>{{ 'app.items.adjust_filters' | t }}</p>
  </div>
  <div class="w-16 mb-6 md:mb-0 md:w-32 md:ms-10 md:ps-10 md:mt-1 order-1 md:order-last md:border-s">
    {% render 'theme/simple/ui/icon', icon: 'binocular', class: 'w-full text-interaction-disabled' %}
  </div>
</section>
