{% render 'theme/simple/groups/header', group: group, current_profile: current_profile, context: context %}

<div class="container flex flex-col md:flex-row gap-6">
  {% render 'theme/simple/groups/nav', tab: tab, group: group, current_profile: current_profile %}

  <div class="flex-1">
    {% if list.total_entries > 0 %}
      <div class="mb-4 text-right">
        <a href="{% render 'link_to', group: group, action: 'content/new' %}" class="button">
          {{ 'app.groups.content.new' | t }} {{ group.content_type | t: scope: 'app.groups.form.content_types' }}
          {% render 'theme/simple/ui/icon', icon: 'plus' %}
        </a>
      </div>
    {% endif %}

    {% for record in list.results %}
      {% liquid
        if context.params.tag
          assign title = 'app.models.posts.questions-tagged-by' | t: tag: context.params.tag
          render 'theme/simple/ui/title', label: title
        endif

        render 'theme/simple/groups/content/summary', post: record
      %}
    {% else %}
      {% render 'theme/simple/groups/content/empty_state', group: group %}
    {% endfor %}
  </div>

</div>
