  <!-- Banner start -->
  <section
    class="bg-about-bg1 bg-no-repeat bg-cover bg-blend-multiply bg-PrimaryOverlay py-36 max-xxl:py-20 max-md:py-14 max-sm:py-8">
    <div class="container mx-auto max-md:px-10 max-lg:max-w-full max-lg:px-5">
      <div class="text-center">
        <h2 class="text-white text-4xl max-xxl:text-text-head font-Railway font-semibold pb-2">
          About
        </h2>
      </div>
    </div>
  </section>
  <!-- Banner end -->
  <!--profile-->
  <div class="md:my-16 sm:my-5 container mx-auto max-xl:max-w-full max-xl:px-5">
    <div class="flex justify-center">
      <div class="">
        <div class="sm:text-base md:text-md text-2xl max-xxl:text-xl font-semibold text-black font-Railway sm:mb-3 md:mb-5">
          Welcome to
          EventHounds.ca!</div>
        <p class="sm:text-xs md:text-sm lg:text-base text-black font-Railway xl:pb-10 sm:pb-5">Our goal is to help you search
          and book venues for any of
          life’s events and celebrations with ease. We traveled around Canada and sniffed out awesome venues
          for you to choose from. Whether you’re looking for a traditional banquet hall, a golf course, or a
          new trendy place that you didn’t know existed, we’ve got it all.</p>
        <p class="sm:text-xs md:text-sm lg:text-base text-black font-Railway">Simply search, select a venue
          and book directly on our
          site. It’s that easy. With so many venues to choose from (and more being added daily) we know you
          will find that perfect space for your wedding, birthday, corporate party or any special event in
          your life.
        </p>

        <div class="flex flex-wrap md:pt-14 sm:pt-5 xl:pb-10 pb-5">
          <div class="sm:w-full md:w-1/3 text-center pb-3">
            <div class="sm:text-base md:text-md text-2xl max-xxl:text-xl font-semibold text-black font-Railway sm:mb-1 md:mb-5">
              Venue Variety</div>
            <p class="sm:text-xs md:text-sm lg:text-base text-black font-Railway">Venues across Canada have joined us. Breweries,
              distilleries, bars, restaurants, banquet
              halls, golf courses, etc. You name it, we got it.</p>
          </div>
          <div class="sm:w-full md:w-1/3 text-center pb-3">
            <div class="sm:text-base md:text-md text-2xl max-xxl:text-xl font-semibold text-black font-Railway sm:mb-1 md:mb-5">
              Save Time</div>
            <p class="sm:text-xs md:text-sm lg:text-base text-black font-Railway">Save yourself time and stress to find places
              that work with your date, number of guests and
              budget - all on one site.</p>
          </div>
          <div class="sm:w-full md:w-1/3 text-center pb-3">
            <div class="sm:text-base md:text-md text-2xl max-xxl:text-xl font-semibold text-black font-Railway sm:mb-1 md:mb-5">
              Save Money</div>
            <p class="sm:text-xs md:text-sm lg:text-base text-black font-Railway">EventHounds.ca allows you to compare pricing
              between venues to ensure you are getting a great
              space that fits your budget.</p>
          </div>
        </div>
        <div class="sm:text-base md:text-md text-2xl max-xxl:text-xl font-semibold text-black font-Railway sm:mb-3 md:mb-5">Our
          Origins
          and Story</div>
        <p
          class="sm:text-xs md:text-sm lg:text-base text-black font-Railway xl:pb-10 sm:pb-5">
          My marriage proposal was incredibly wonderful and romantic.
          I was vacationing in Croatia when it happened and the whole trip felt like a fantasy. Soon, my new
          fiancé and I came back to Toronto and back to reality. The initial stress of wedding planning –
          particularly finding a venue – was exhausting. There are A LOT of different and unique venues around
          the Greater Toronto Area and we found it overwhelming to balance our full-time jobs, keep up with
          our social lives and gather pricing and info on all of our options for a wedding venue. We wasted a
          lot of time calling venues that didn’t even have our date available. Not to mention how expensive
          booking a venue was, with no easy way to find a deal.</p>
        <p
          class="sm:text-xs md:text-sm lg:text-base text-black font-Railway pb-5">
          We created EventHounds as a solution to this problem that many couples and individuals face. We want
          to make it easier and more accessible to view available venues, compare pricing, and book. While
          other industries have made the move to an online multi-vendor platform, event venues have lagged
          behind. Until now.
        </p>
      </div>
    </div>
  </div>
  <!--profile-end-->
