 <!-- Banner start -->
 <section
 class="bg-frequently-bg-image1 bg-no-repeat bg-cover bg-blend-multiply bg-PrimaryOverlay py-36 max-xxl:py-20 max-md:py-14 max-sm:py-8">
 <div class="container mx-auto max-md:px-10 max-lg:max-w-full max-lg:px-5">
   <div class="text-center">
     <h2
       class="text-white text-4xl max-xxl:text-text-head font-Railway font-semibold pb-2">
       Frequently Asked Questions
     </h2>
   </div>
 </div>
</section>
<!-- Banner end -->
<!--profile-->
<div class="px-6 md:my-16 sm:my-5 container mx-auto max-xl:max-w-full max-xl:px-5">
 <div class="flex justify-center">
   <div class="">
     <div class="sm:text-base md:text-lg lg:text-xl xl:2xl font-semibold text-black font-Railway sm:mb-3 xl:mb-9">Frequently
       Asked Questions
       (FAQ's)</div>
     <div class="bg-white mx-auto">
       <ul class="">
         <li class="relative border-b" x-data="{selected:null,open:true}">
           <button type="button" class="w-full pt-4 pb-3 text-left"
             @click="selected !== 1 ? selected = 1 : selected = null, open = !open">
             <div class="flex items-center justify-between">
               <span class="font-Work font-medium sm:text-sm md:text-base lg:text-lg xl:text-xl">
                 Should I use reCAPTCHA v2 or v3? </span>
               <span :class="open ? '' : 'hidden'"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
               <span :class="open ? 'hidden' : ''"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
             </div>
           </button>
           <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1"
             x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
             <div class="pt-2 pb-4">
               <p class="font-Work text-sm paragraphTextColor">reCAPTCHA v2 is not going away! We
                 will continue to
                 fully
                 support and improve
                 security and usability for v2.</p>
             </div>
           </div>
         </li>
         <li class="relative border-b" x-data="{selected:null,open:true}">
           <button type="button" class="w-full pt-4 pb-3 text-left"
             @click="selected !== 1 ? selected = 1 : selected = null, open = !open">
             <div class="flex items-center justify-between">
               <span class="font-Work font-medium sm:text-sm md:text-base lg:text-lg xl:text-xl">
                 Should I use reCAPTCHA v2 or v3? </span>
               <span :class="open ? '' : 'hidden'"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
               <span :class="open ? 'hidden' : ''"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
             </div>
           </button>
           <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1"
             x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
             <div class="pt-2 pb-4">
               <p class="font-Work text-sm paragraphTextColor">reCAPTCHA v2 is not going away! We
                 will continue to
                 fully
                 support and improve
                 security and usability for v2.</p>
             </div>
           </div>
         </li>
         <li class="relative border-b" x-data="{selected:null,open:true}">
           <button type="button" class="w-full pt-4 pb-3 text-left"
             @click="selected !== 1 ? selected = 1 : selected = null, open = !open">
             <div class="flex items-center justify-between">
               <span class="font-Work font-medium sm:text-sm md:text-base lg:text-lg xl:text-xl">
                 Should I use reCAPTCHA v2 or v3? </span>
               <span :class="open ? '' : 'hidden'"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
               <span :class="open ? 'hidden' : ''"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
             </div>
           </button>
           <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1"
             x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
             <div class="pt-2 pb-4">
               <p class="font-Work text-sm paragraphTextColor">reCAPTCHA v2 is not going away! We
                 will continue to
                 fully
                 support and improve
                 security and usability for v2.</p>
             </div>
           </div>
         </li>
         <li class="relative border-b" x-data="{selected:null,open:true}">
           <button type="button" class="w-full pt-4 pb-3 text-left"
             @click="selected !== 1 ? selected = 1 : selected = null, open = !open">
             <div class="flex items-center justify-between">
               <span class="font-Work font-medium sm:text-sm md:text-base lg:text-lg xl:text-xl">
                 Should I use reCAPTCHA v2 or v3? </span>
               <span :class="open ? '' : 'hidden'"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
               <span :class="open ? 'hidden' : ''"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
             </div>
           </button>
           <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1"
             x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
             <div class="pt-2 pb-4">
               <p class="font-Work text-sm paragraphTextColor">reCAPTCHA v2 is not going away! We
                 will continue to
                 fully
                 support and improve
                 security and usability for v2.</p>
             </div>
           </div>
         </li>
         <li class="relative border-b" x-data="{selected:null,open:true}">
           <button type="button" class="w-full pt-4 pb-3 text-left"
             @click="selected !== 1 ? selected = 1 : selected = null, open = !open">
             <div class="flex items-center justify-between">
               <span class="font-Work font-medium sm:text-sm md:text-base lg:text-lg xl:text-xl">
                 Should I use reCAPTCHA v2 or v3? </span>
               <span :class="open ? '' : 'hidden'"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
               <span :class="open ? 'hidden' : ''"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
             </div>
           </button>
           <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1"
             x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
             <div class="pt-2 pb-4">
               <p class="font-Work text-sm paragraphTextColor">reCAPTCHA v2 is not going away! We
                 will continue to
                 fully
                 support and improve
                 security and usability for v2.</p>
             </div>
           </div>
         </li>
         <li class="relative border-b" x-data="{selected:null,open:true}">
           <button type="button" class="w-full pt-4 pb-3 text-left"
             @click="selected !== 1 ? selected = 1 : selected = null, open = !open">
             <div class="flex items-center justify-between">
               <span class="font-Work font-medium sm:text-sm md:text-base lg:text-lg xl:text-xl">
                 Should I use reCAPTCHA v2 or v3? </span>
               <span :class="open ? '' : 'hidden'"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
               <span :class="open ? 'hidden' : ''"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                 </svg></span>
             </div>
           </button>
           <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1"
             x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
             <div class="pt-2 pb-4">
               <p class="font-Work text-sm paragraphTextColor">reCAPTCHA v2 is not going away! We
                 will continue to
                 fully
                 support and improve
                 security and usability for v2.</p>
             </div>
           </div>
         </li>
       </ul>
     </div>
   </div>
 </div>
</div>
<!--profile-end-->
<!-- details end-->
