<div
  x-data='{...frames(), commentsCount: {{ comments.size | default: 0 }}}'
>
  <section class="mt-8 -mx-4 pt-7 px-4 border-t" x-cloak x-show="commentsCount">
    <div x-data='{"hidden": true, "many": {% if comments.size > 2 %}true{% else %}false{% endif %}}' x-cloak>
      <ul x-frames-target="comments-{{post.id}}">
        {% for comment in comments %}
          {% render 'theme/simple/activities/feed_unit/comment', comment: comment, index: forloop.index, context: context, current_profile: current_profile %}
        {% endfor %}
      </ul>
      <div class="w-full text-center" x-show="many">
        <button class="inline-flex flex-col items-center text-center text-xs uppercase text-interaction hover:text-interaction-hover"
          type="button"
          x-on:click.prevent="hidden=false; many=false"
        >
          {{ 'app.feed.see_more_comments' | t }}
          {% render 'theme/simple/ui/icon', icon: 'dashDown', class: 'w-2' %}
        </button>
      </div>
    </div>
  </section>

  {% if current_profile.id and namespace != 'admin' %}
    <section
      x-on:submit.prevent='insert({where: "beforeend", target: "comments-{{post.id}}"}); commentsCount++;'
      class="mt-8 -mx-4 pt-4 px-4 border-t">
      {% render 'theme/simple/activities/feed_unit/comment_form', commentable: post, commentable_type: 'post', images: false, context: context, current_profile: current_profile %}
    </section>
  {% endif %}
</div>
