<div
  x-data="{ temp: {{value | json}}, orig: {{value | json}} }"
  class="my-2 flex cursor-pointer"
  @mouseleave="temp = orig">

  <input type="number" class="hidden" name="{{input_name}}" :value="orig">

  <template x-for="item in [1,2,3,4,5]" :key="item">
    <button
      type="button"
      class="pe-2 relative w-6 h-4"
      data-tc="rate-star"
      :class="{'text-warning': (temp >= item), 'text-content': (temp < item)}"
      :aria-label="item"
      @mouseenter="temp = item"
      @click="temp = item; orig = item"
    >
        <span class="absolute top-0 left-0" aria-hidden x-show="temp >= item">
          {% render 'theme/simple/ui/icon', icon: 'starFull' %}
        </span>
        <span class="absolute top-0 left-0" aria-hidden x-show="temp < item">
          {% render 'theme/simple/ui/icon', icon: 'star' %}
        </span>
    </button>
  </template>
</div>
