<header class="mt-2.5 mb-6 -mx-8 px-8 pb-7 flex justify-between gap-8 border-b">
  <h2 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'users', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'app.admin.categories.edit.edit_category' | t }} - {{ object.key  }}
  </h2>
</header>

<div class="flex flex-wrap items-center mx-auto">
  {% include 'theme/simple/admin/categories/form', category: object, context: context, uuid: object.uuid %}
  {% include 'theme/simple/forms/upload_presigned_url', photo__type: 'category', max__files: '1', uuid: object.uuid %}
</div>
