{% case object.shipping_type %}
{% when 'personal_pickup' %}
  {% if pickup_title != blank %}
    <div class="mt-2 flex items-center gap-1">
      <span class="font-semibold">{{ pickup_title | t }}</span>
    </div>
  {% endif %}
  <div class="mt-4 flex items-center">
    {% render 'theme/simple/ui/icon', icon: 'pin', class: 'w-6 me-2' %}
    {{ object.shipping_pickup_point  }}
  </div>
{% when 'delivery'  %}
  <p class="font-semibold">{{ delivery_title | t }}</p>
  {% if delivery_subtitle != blank %}<div class="mt-2">{{ delivery_subtitle | t }}</div>{% endif %}
  <div class="mt-5">
    {% render 'theme/simple/addresses/show', address: object.shipping_address %}
  </div>
{% endcase %}
