<div class="mb-6 flex">

  <span class="w-12 h-12 -ms-16 flex items-center justify-center flex-shrink-0 rounded-full bg-content text-2xl text-content-inverted">
    <span class="-mt-1 leading-none">{{ number }}</span>
  </span>

  <div class="{% if subtitle %}-{% endif %}mt-2 ms-4">
    <h3 class="title">
      {{ title | t }}
    </h3>

    {{ subtitle | t }}
  </div>

</div>
