<div class="my-5 grid gap-6"  x-frames-target="feed">
  {% for record in list.results %}
    {% render 'theme/simple/activities/feed_unit', payload: record.payload, current_profile: current_profile, namespace: 'admin' %}
  {% endfor %}

  {% if list.has_next_page %}
    {% render 'theme/simple/load_more', page: page, url: '/admin/activities.frame' %}
  {% endif %}
</div>
