{% if config.hide_account_status != 'true' %}
  <span class="badge badge-{% if response.payouts_enabled == true %}success{% else %}danger{% endif %}">Payouts {% if response.payouts_enabled == true %}enabled{% else %}disabled{% endif %}</span>

  <span class="badge badge-{% if response.charges_enabled == true %}success{% else %}danger{% endif %}">Payments {% if response.charges_enabled == true %}enabled{% else %}disabled{% endif %}</span>
{% endif %}

<h4 class="mt-4 mb-4">
  Account Information
</h4>

<div class="form-group">
  <div class="row">
    <div class="form-group col-md-6">
      {% if response.country == blank %}
        {% assign country_name = data_attribute | append: "[country]" %}
        {% include select_field with "Country",
        name: country_name,
        value: response.country,
        collection: context.exports.payments.country_list
        required: true
        %}
      {% endif %}
    </div>

    {% if data.email == blank %}
      <div class="form-group">
        <label for="inputEmail4">Email</label>
        <input type="email" name="{{ data_attribute}}[email]" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    {% endif %}
  </div>
</div>

{% if data.business_type == blank and response.country != blank %}
  {% if response.business_type  == blank %}
    <b>Please select account type. <span class="text-danger ml-3">Account type can't be changed after selection</span></b>
  {% endif %}
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input class="form-check-input"
             type="radio"
             name="{{ data_attribute}}[business_type]"
             id="inlineRadio1"
             value="individual"
             required
             data-target=".company, .individual"
             data-toggle="collapse"
             {% if response.business_type  == 'individual' or response.business_type  == blank  %}checked{% endif %}
             {% if response.business_type  != blank %}disabled{% endif %}>
      <label class="form-check-label" for="inlineRadio1">Individual</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input ml-5"
             type="radio"
             name="{{ data_attribute}}[business_type]"
             id="inlineRadio2"
             data-target=".company, .individual"
             data-toggle="collapse"
             value="company"
             required
             {% if response.business_type   == 'company' %}checked{% endif %}
             {% if response.business_type  != blank %}disabled{% endif %}>
      <label class="form-check-label" for="inlineRadio2">Company</label>
    </div>
  </div>
{% endif %}
