<h2 class="subtitle">{{ 'app.emails.organizations.member_added_existing_profile.title' | t }}</h2>

<p>{{ 'app.emails.organizations.member_added_existing_profile.content' | t }}</p>

<p class="mt text-center"><a href="{{ data.url }}" class="button">{{ 'app.emails.organizations.member_added_existing_profile.visit_organization' | t }}</a></p>
