{% comment %}
  simple badge with label hanging from top left corner of the box

  arguments:
    class: class names to append to class list (string)
    label: label for the badge (string)
    label_key: translations key for the label (string)
{% endcomment %}


<div class="sidenote w-36 absolute top-5 -left-10 bg-content uppercase text-content-inverted text-center leading-relaxed transform -rotate-45 z-10 {{ class }}">
  {{ label }}{% if label_key %}{{ label_key | t }}{% endif %}
</div>
