{% comment %}

  placeholder image to use when no other image is available

  arguments:
    class - list of class added to image (string)

{% endcomment %}

<div class="flex items-center justify-center bg-frame text-page {{ class }}">
  <svg viewBox="0 0 300 150" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M126.4 104.05a5.46 5.46 0 01-5.4-5.45V51.4a5.46 5.46 0 015.4-5.4h47.2a5.46 5.46 0 015.45 5.45V98.6a5.46 5.46 0 01-5.45 5.45zm-1.81-5.45a1.81 1.81 0 001.81 1.81h47.2a1.81 1.81 0 001.81-1.81v-9.08h-50.82zm50.82-12.71V51.4a1.81 1.81 0 00-1.81-1.81h-47.2a1.81 1.81 0 00-1.81 1.81v34.49h8.16l7.84-10.44a5.39 5.39 0 013.58-2.13 5.25 5.25 0 01.79-.06 5.39 5.39 0 013.25 1.09 5.84 5.84 0 01.59.51l1 1 6.74-9a5.38 5.38 0 013.58-2.12 5.12 5.12 0 01.78-.06 5.42 5.42 0 013.26 1.09 5.63 5.63 0 011.09 1.09l6.46 8.62a1.81 1.81 0 11-2.9 2.18l-6.47-8.62a1.54 1.54 0 00-.36-.36 1.79 1.79 0 00-1.08-.37h-.27a1.81 1.81 0 00-1.19.71l-8 10.65a1.82 1.82 0 01-1.32.72H150a1.76 1.76 0 01-1.27-.54l-2.49-2.48a1.54 1.54 0 00-.19-.17 1.78 1.78 0 00-1.05-.3h-.27a1.83 1.83 0 00-1.19.71l-6.21 8.27z"/><path fill="currentColor" d="M136.39 67.74a6.36 6.36 0 116.35-6.35 6.36 6.36 0 01-6.35 6.35zm0-9.08a2.73 2.73 0 102.72 2.73 2.73 2.73 0 00-2.72-2.73z"/></svg>
</div>
