<div class="container">
  <h1 class="text-4xl font-medium text-center">
    bulk_operation - {{ bulk_operation.id }}
  </h1>

    <span class="font-medium">
    {{ 'app.bulk_operations.attr.help' | t }}
  </span>
  <p class="mb-10">
    {{ bulk_operation.help }}
  </p>

  </div>
