<div class="container flex flex-wrap items-center mx-auto">
  <h1 class="title">{{ 'app.tags.edit.edit' | t }} {{ object.name  }}</h1>
</div>

{% render 'theme/simple/admin/tags/form', object: object, context: context %}
