<div class="flex items-center justify-around py-20">
  <h3 class="title">
    {{ 'app.tags.list.empty_state' | t }}
  </h3>

  <a href="/admin/tags/new" class="text-lg button">
    {{ 'app.tags.list.add' | t }}
  </a>
</div>
