<div class="flex items-center justify-around py-20">
  <h2 class="title">
    {{ 'app.models.item_attributes.empty_state' | t }}
  </h2>

  <a href="/admin/item_attributes/new" class="text-lg button">
    {{ 'app.models.item_attributes.add' | t }}
  </a>
</div>
