<ul data-wishlist-item{{ item.id }} class="overflow-hidden">

  <li>
    <a href="{% render 'link_to', item: item %}" class="flex items-center">
      {% render 'theme/simple/items/cover', item: item %}
      {{ item.item_detail.name }}
    </a>
  </li>

  <li class="text-end">
    <span class="w-20 me-4 inline-block lg:hidden">{{ 'app.wishlists.show.unit_price' | t }}: </span>
    {% render 'theme/simple/price', amount_cents: item.price, currency: item.currency %}
  </li>

  <li class="text-end">
    {% render 'theme/simple/wishlists/buy_item', item: item, authenticity_token: authenticity_token %}
  </li>

  <li class="text-end">
      <button
        class="items-center lg:p-3 text-interaction hover:text-danger"
        x-on:click="remove({{ item.id }})"
      >
      {% render 'theme/simple/ui/icon', icon: 'x' %}
    </button>
  </li>

</ul>
