{% if old[name] != blank or new[name] != blank %}
  {% if old[name] != new[name] %}
    <ul>
      <li>
        {{ key | t }}
      </li>
      <li>
        {{ old[name] }}
      </li>
      <li>
        {{ new[name] }}
      </li>
    </ul>
  {% endif %}
{% endif %}
