<input type="hidden" name="{{ form_builder.fields.success_message.name }}" value=" {{ config.success_message | default: 'You have successfully refunded payment' }}" />

{% if data.charge == blank %}
  <p>Please provide required charge id in data object</p>
{% endif %}

<div class="row">
  <div class="col">
    <button class='btn btn-primary stripe-button-el charge-stripe' type="submit">
      {{ config.button | default: "Refund" }}
    </button>
  </div>
</div>

