<input type="hidden" name="{{ data_attribute }}[source]" value="" data-cc-token />
<input type="hidden" name="{{ form_builder.fields.success_message.name }}" value="You have successfully deleted credit card" />

<div class="row">
  <div class="col">
    <button type="submit" class="delete-stripe btn btn-danger ml-3">Delete</button>
  </div>
</div>
