<section class="grid grid-cols-1 gap-6" x-frames-target="feed">
  {% if list.total_entries > 0 %}
    {% liquid
      for activity in list.results
        render 'theme/simple/activities/feed_unit', payload: activity.payload, current_profile: current_profile, namespace: namespace, context: context
      endfor

      if list.has_next_page
        function group_url = 'link_to', object: group, action: 'frame'
        render 'theme/simple/load_more', page: page, url: group_url
      endif
    %}
  {% else %}
    <p class="container my-8 text-lg">{{ 'app.groups.no_items' | t }}</p>
  {% endif %}
</section>
