{% function can = "lib/can", actor: current_profile, do: "invite", object: group %}
{% if can.valid %}
  <a class="{{ class }}" href="{% render 'link_to', object: group, action: 'invites' %}">
    {{ label | t  }}
  </a>
{% endif %}
