<section>
  <h2 class="pagetitle">{{ 'app.groups.new_group' | t }}</h2>

  {% render 'theme/simple/groups/form', object: object, current_profile: current_profile, context: context, categories: categories %}
</section>
