{%- comment -%}
{%- endcomment -%}
{% if records.results.size > 0 %}
{%- comment -%}
<div class='flex justify-between'>
  <h2 class="title"> {{ type | t: scope: 'app.quick_search.type' }} </h2>
  {% if records.total_entries > 3 %}
    <a href="{{ see_more_url }}?keyword={{keyword | downcase}}" class="subtitle">
      {{ 'app.quick_search.see_more' | t }}
    </a>
  {% endif %}
</div>
  {%- endcomment -%}
    {% for model in records.results %}
      {% render 'theme/simple/quick_search/card', model: model, current_profile: current_profile %}
    {% endfor %}
{% endif %}