<h3 class="subtitle mt-8 font-bold">{{ 'app.orders.checkout.review_title' | t }}</h3>
<section class="card md:flex justify-between items-center">
  <div>
    <p class="font-bold">{{ 'app.orders.checkout.review_info.share_feedback' | t }}</p>
    <p class="mb-4">{{ 'app.orders.checkout.review_info.review_feedback' | t }}</p>
    <a href="/dashboard/reviews/items" class="button">
      {{ 'app.orders.checkout.review_info.add_review' | t }}
    </a>
  </div>
  <div class="hidden md:block border-l">
    <svg class="mx-8" data-icon="review" width="82" height="82" class="flex justify-center items-center" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path clip-rule="evenodd" d="M42.77 4.587l4.16 8.19h7.09a1.943 1.943 0 011.397 3.333l-6.507 6.397 3.604 8.283a1.963 1.963 0 01-2.797 2.454L41 28.334l-8.716 4.91a1.963 1.963 0 01-2.797-2.454l3.607-8.283-6.51-6.407a1.944 1.944 0 011.396-3.333h7.09l4.164-8.18a1.98 1.98 0 013.536 0z" stroke-width="5"/><path d="M18.5 8.5a1.96 1.96 0 00-1.766 1.087l-4.164 8.19H5.48a1.943 1.943 0 00-1.396 3.333l6.51 6.397L7 35.79a1.963 1.963 0 002.797 2.453l8.703-4.91 2.307 1.297M63.5 8.5a1.967 1.967 0 011.77 1.087l4.16 8.19h7.09a1.943 1.943 0 011.397 3.333l-6.51 6.397L75 35.79a1.963 1.963 0 01-2.797 2.453l-8.703-4.91-2.307 1.297M26 61.784V73.51a5 5 0 005 5h20a5 5 0 005-5V61.784m10-2.5l-21.667-19.49a5 5 0 00-6.686 0L16 59.283" stroke-width="5"/></svg>
  </div>
</section>
