<section class="container py-12 md:py-0 bg-contain bg-no-repeat bg-left-top"
  style="background-image: url({{ 'images/home/lines_light.png' | asset_url }})">

  <div class="md:flex justify-between">
    <div class="hidden md:inline-flex w-1/2">
      <img src="{{ 'images/home/delivery.png' | asset_url }}" width="431" height="319" alt="Delivery lady" loading="lazy">
    </div>

    <div class="md:w-1/2 flex flex-col justify-center prose">
      <h3 class="title">Delivery always on time</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante malesuada, commodo placerat sem. Morbi felis dui, aliquam elementum nisl vitae, auctor suscipit enim.
      </p>
      <p>
        Curabitur vehicula dui vitae neque venenatis, nec ornare felis ornare.
      </p>
    </div>
  </div>
</section>
