<section class="bg-cover py-20" style="background-image: url({{ 'images/home/cta_bg.jpg' | asset_url }})">
  <div class="container flex flex-col justify-center items-center">
    <h3 class="bigtitle text-content-inverted">Join our community!</h3>
    <p class="subtitle text-content-inverted">Its a great way to learn and give back to the others.</p>
    <p>
      <a href="/" class="button text-lg">Join now</a>
    </p>
  </div>
</section>
