<section class="container py-12">

  <h2 class="bigtitle">Our partners</h2>

  <ul class="grid grid-cols-2 gap-5 md:grid-cols-4">
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex items-center justify-center p-8 border border-gray-300">
        <span class="sr-only">platformOS</span>
        <img width="171" height="25" alt="partner" class="h-8" src="{{ 'images/home/platformos-logo.svg' | asset_url }}">
      </a>
    </li>
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex items-center justify-center p-8 border border-gray-300">
        <span class="sr-only">platformOS</span>
        <img width="171" height="25" alt="partner" class="h-8" src="{{ 'images/home/platformos-logo.svg' | asset_url }}">
      </a>
    </li>
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex items-center justify-center p-8 border border-gray-300">
        <span class="sr-only">platformOS</span>
        <img width="171" height="25" alt="partner" class="h-8" src="{{ 'images/home/platformos-logo.svg' | asset_url }}">
      </a>
    </li>
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex items-center justify-center p-8 border border-gray-300">
        <span class="sr-only">platformOS</span>
        <img width="171" height="25" alt="partner" class="h-8" src="{{ 'images/home/platformos-logo.svg' | asset_url }}">
      </a>
    </li>
  </ul>
</section>
