<!DOCTYPE html>
{% liquid
  function direction = 'text_direction', lang: context.language
%}

<html dir="{{direction}}" lang="{{context.language}}" class="overflow-y-scroll scroll-smooth">
  <head>
    {% capture meta %}{% yield 'metatags' %}{% endcapture %}
    {% render 'theme/simple/layout/head', meta: meta, context: context %}
    {% yield 'custom_styles' %}
    {%- capture canonical_url -%}{%- yield 'canonical' -%}{%- endcapture -%}
    {% if canonical_url != blank %}
      <link rel="canonical" href="https://{{ context.location.host }}{% print canonical_url | strip %}" />
    {% endif %}
    {% render 'theme/simple/layout/js_global_variables', current_profile: context.exports.current_profile %}
    {% include 'theme/simple/admin_theme_variables' %}
  </head>
  <body class="font-sans antialiased leading-normal text-content bg-page scroll-smooth">
    {% include 'theme/simple/layout/main', current_profile: context.exports.current_profile, context: context %}
    {% yield 'custom_scripts' %}
  </body>
</html>
